service vendor_flash_recovery /vendor/bin/install-recovery.sh
    class main
    oneshot
    disabled

# update recovery if enabled
on property:persist.sys.recovery_update=true
    start vendor_flash_recovery
